:root {
    --red: #E4475C;
    --blue: #B7F2F7;
    --red-blue: #CE9DAA;
    --green: #46E38F;
    --white: #fff;
    --grey: #C0C0C0;
    --black: #000;
}

*,
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: large;
}

body {
    width: 100%;
    min-height: 100vh;
    background-color: var(--background-color);
    font-family: 'Arvo', serif;
}

button {
    border: none;
    background: inherit;
}

#save-panel {
    width: 15vw;
    min-height: 20vh;
    display: flex;
    flex-direction: column;
    position: absolute;
    right: 0;
    bottom: 0;
    align-items: center;
    justify-content: center;
    background-color: var(--white);
    border-top: 1px solid var(--black);
    border-left: 1px solid var(--black);
}

#tm-bar {
    width: 15vw;
    height: 80vh;
    min-height: 50vh;
    background-color: var(--blue);
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    right: 0;
    top: 0;
}

#tm-directory {
    max-height: 64vh;
    overflow-y: auto;
}

.bar-header {
    padding: 2em 2em;
    margin-bottom: 1em;
    height: 4em;
    line-height: 0;
}

.file {
    height: 3em;
    padding: 1.5em;
    line-height: 0;
}

.box {
    background-color: var(--white);
    border: 1px solid var(--black);
    padding: 0.5em;
    border-radius: 4px;
}

#tm-bar .box {
    background-color: white;
}

.add-tm {
    width: 2.2em;
}

.tm {
    margin-bottom: 0.5em;
    min-width: 10vw;
    height: 2em;
    line-height: 0;
    padding: 1em;
}

.field {
    display: inline-block;
    width: fit-content;
    margin: 0 1em;
    min-width: 4em;
    height: fit-content;
    text-align: left;
}

.form {
    font-size: large;
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    padding: 2em;
    border-radius: 4px;
    background-color: var(--white);
    border: 1px solid var(--black);
    box-shadow: 0px 3px 6px var(--grey);
}

.form {
    display: none;
}

.inp-line {
    margin: 0.2em 0;
}

.inp-line-top {
    display: flex;
    justify-content: space-between;
    margin-bottom: 1em;
    font-weight: bold;
    font-size: xx-large;
}

#hour-tabs {
    background-color: var(--grey);
    /* box-shadow: 0px 2px 3px var(--shadow-color-3); */
    display: flex;
    padding: 0.1em 1em;
    height: 4em;
}

.tab {
    margin: auto 0;
    margin-right: 0.5em;
    padding: 1em;
    width: fit-content;
    text-align: center;
    border-radius: 4px;
    background-color: var(--white);
}

.tab:active {
    
}
.add-tab {
    justify-self: center;
    padding: 0.5em;
    background-color: var(--white);
    border-radius: 4px;
}

.filler {
    margin: auto 0;
}

#tab-directory {
    display: flex;
    flex-direction: row;
}

.row-btn {
    margin: auto;
    margin-top: 1em;
    width: fit-content;
    height: fit-content;
    padding: 0.5em;
    display: inline-block;
    border-radius: 4px;
    border: 1px solid var(--black);
    color: black;
}

.remove-btn {
    background-color: var(--red);
}

.submit-btn {
    background-color: var(--green);
}

.space-between {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}


#job-panel {
    padding: 0 1em;
    margin-top: 1em;
}

.job-member {
    width: fit-content;
    display: block;
    border: 1px solid black;
    border-radius: 4px;
    height: 3em;
    padding-left: 1em;
    background-color: var(--weighted-bg-color);
    /* box-shadow: 0px 2px 3px var(--grey); */
}

.give-job {
    margin: 0;
    margin-left: 1em;
    width: 3em;
    text-align: center;
    background-color: var(--red);
    height: 100%;
}